* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    text-align: center;
    background-color: rgb(37, 36, 36);

}

.wrapper {
    width: 90%;
    margin: 0 auto;

}

header {
    width: 100%;
    height: 100px;
    background-color: #032e52;

}

.logo {
    width: 40%;
    float: left;
    text-align: left;
    line-height: 100px;

}

.logo a {
    text-decoration: none;
    font-weight: bolder;
    font-size: 30px;
    color: gold;
    letter-spacing: 4px;
    -webkit-text-stroke: 0.5px rgb(139, 35, 50);
}

nav {
    float: right;
    line-height: 100px;
}

nav a {
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
    color: yellow;
    padding: 37px 20px;
    margin: 0 1px;
    font-weight: 600;
    -webkit-text-stroke: 0.5px rgb(139, 35, 50);
}

nav a:hover {
    color: rgb(139, 35, 50);
    -webkit-text-stroke: 0.5px goldenrod;

}

.banner-area {
    background-image: url(../images/banner.jpg);
    background-position: center;
    position: relative;
    width: 100%;
    height: 145px;
}

.overlay-image {
    position: absolute;
    left: 50px;
    height: 125px;
    border-radius: 60px;
    border: 2px goldenrod solid;
}


#playerTable {
    width: 75%;
    margin: 10px auto;
    border: 5px rgb(139, 35, 50) solid;
    color: white;
    background-color: #032e52;
    border-radius: 10px;


}

tbody tr:nth-child(odd) {
    background-color: #9a9a9a;
}

tbody tr:nth-child(even) {
    background-color: #454545;
}

form h2 {
    color: gold;
    font-size: 20px;
    margin: 5px 10px 10px 15px;
    border-bottom: 5px rgb(139, 35, 50) solid;

}

#playerForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    margin: 12px 0px 0px 10px;
    background-color: #032e52;
    border: 5px rgb(139, 35, 50) solid;
    padding: 5px 5px;
    border-radius: 10px;
    position: fixed;
}

#playerForm input,
#playerForm button {
    margin-bottom: 10px;
    /* Add space between elements */
    width: 100%;
    /* Make inputs and button full width */
}

#confirmationModal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    bottom: 410px;
    margin: 12px 0px 0px 10px;
    background-color: #032e52;
    border: 5px rgb(139, 35, 50) solid;
    padding: 5px 5px;
    border-radius: 10px;
    position: fixed;
    color: gold;
}